*{
    margin: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}

/* header */
header{
    width:100%;
    height: 80px;
    background-color:#ffffff;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content: space-between;
    height:100%;
    padding:0px 40px;
}
.name{
    background-image: url(NewLogo.svg);
    background-size:contain;
    height:50px;
    width:120px;
    background-repeat:no-repeat;
    margin-left:24px;
}
.addresses{
    display:flex;
    gap:36px;
}
.addresses a{
    font-size:25px;
    font-weight:500;
    text-decoration:none;
    color:#000;
}
.hero-section{
    margin-top:10px;
    background-image: url(map.png);
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:500px;
}
.container{
    padding: 64px 48px;
    height: 500px;
}
.hero-section h3{
    margin-top:5px;
    display:flex;
    justify-content:center;
    font-size:48px;
    font-weight:700;
    font-family: sans-serif;
}
.box{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
    margin-top:40px;
}
.source,
.destination{
    border: 3px solid #E6E6E6;
    height:80px;
    width:600px;
    background-color:#ffffff;
    border-radius: 10px;
    display:flex;
    align-items:center;
    gap:16px;
    padding:0 20px;
}

.source input,
.destination input{
    border:none;
    outline:none;
    width:100%;
    font-size:16px;
}
.source i{
    color:#00A651;
    font-size:18px;
}
.destination i{
    color:#FF3B3B;
    font-size:18px;
}

.book{
    margin-top:20px;
    border: 0.8px solid transparent;
    height:80px;
    width:600px;
    background-color:#ffffff;
    background-color:#FFCA20;
    border-radius: 10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
    font-weight:700;
    font-family:sans-serif;
    cursor:pointer;
}
.services{
    display:flex;
    padding: 40px 40px 54px 22px;
    flex-direction:column;
    gap:40px;

}
.heading{
    font-weight:700;
    font-size:48px;
    color:rgb(51,51,51);
    display:flex;
    display:inline-block;
}
.underline{
    height:3px;
    width:96px;
    margin-top:5px;
    margin-left:10px;
    background-color:#FFCA20;
}
.services-list{
    display:flex;
    gap:32px;
    justify-content:flex-start;
    flex-wrap:wrap;
}
.service-card p{
    margin-left:0px;
    font-size:28px;
    margin-left:16px;
    color:rgb(51, 51, 51);
    font-weight:550;
}
.body2{
    width:100%;
    height:700px;
    background-color:#f6f7f9;
    padding:20px;
}
.box1,
.box2,
.box3{
    display:flex;
}
.box1a,
.box1b
{
    flex:1;
    height:700px;
    padding: 40px 40px 110px;
    margin-left:80px;
}
.title{
    font-size:48px;
    font-weight:bolder;
    color:rgb(26,32,42);
    max-width:350px;
    line-height:1.2;
    margin-left:30px;
}
.underline_a{
    margin-left:30px;
    height:3px;
    width:96px;
    margin-top:5px;
    background-color:#FFCA20;
}
.summary{
    margin-left:30px;
    margin-top:50px;
    font-size:36px;
    font-weight:lighter;
    color:rgb(26,32,42);
    max-width: 350px;
    line-height:1.2;
}
.button{
    background-color:#000;
    border-radius:30px;
    height:60px;
    width:240px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:48px;
    margin-left:30px;
    gap:10px;
}
.buttontext{
    text-decoration:none;
    color:#f6f7f9;
    font-size:30px;
}
.button i{
    color:#f6f7f9;
    font-size:22px;
} 
.images img {
    width: 447px;
    height: 420px;
    object-fit: cover; 
    margin-top:50px;
}
.box2b
{
    flex:1;
    height:720px;
    padding: 40px 40px 110px;
    margin-left:80px;
}
.box2a{
    flex:1;
    height:720px;
    padding: 40px 40px 110px;
    margin-left:20px;
}
.body4{
    width:100%;
    height: 500px;
    background-color:#f6f7f9;
    padding:20px;
}
.box3a,
.box3b
{
    flex:1;
    height:500px;
    padding: 40px 40px;
    margin-left:80px;
}
.box3b img{
    margin-top:0px;
    border-radius:30px;
}
.knowmore a{
    display:inline-block;
    text-decoration: none;
    margin-left:30px;
    font-size: 32px;
    font-weight:bolder;
    margin-top:30px;
    color:rgb(30,75,130);
}

.download{
    width:100%;
    height:370px;
    background-color:#000000;
    padding:32px 20px;
    color: rgb(246, 247, 249);
}
.download_a{
    display:flex;
    justify-content:inline-block;
    flex-direction: column;
    align-items:center;
}
.underline_b{
    height:3px;
    width:96px;
    margin-top:5px;
    background-color:#FFCA20;
}
.heading_down{
    width:100%;
    margin: 0px 0px 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size: 48px;
    font-weight: 700;
}
.app{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:40px;
    height:170px;
    margin-top:64px;
    margin-left:30px;
}
.appimg img{
    width:80px;
    height:80px;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    color: rgb(255, 255, 255);
    margin-left:60px;
}
.rapido{
    max-width: 280px;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    color: rgb(255, 255, 255);
}
.rapido1{
    max-width:250px;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    color: rgb(255, 255, 255);
}
.content{
    width:100%;
    height:270px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.content_apps{
    height:155px;
    width:95%;
    margin-top:40px;
    border-top:3px solid #e5e5e5;
    border-bottom:3px solid #e5e5e5;
    display:flex;
    align-items: center;
    justify-content:center;
    gap:32px;
}
.app1 img{
    height: 100px;
    width:100px;
}
.lastlist{
    width:100%;
    height:500px;
    margin:10px;
    display:flex;
    align-items: flex-start;
    margin-left:200px;
    
}
.lastlist1{
    margin-left:60px;
    margin-right:60px;
    height:500px;
    display:flex;
    flex-direction: column;
}
.links,
.links2{
    list-style:none;
    margin-top:20px;
    
}
.links li,
.links2 li{
    font-size:28px;
    margin-bottom:12px;
    cursor:pointer;
    
}
.boxl img{
    width:140px;
    display:block;
    margin-bottom:20px;
    margin-left:30px;
}
.links2{
    margin-top:130px;
}
.under{
    border-bottom:3px solid #e5e5e5;
    width:100%;
}
footer .last{
    height:100px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(128, 128, 128);
    margin-left: 170px;
    margin-top:30px;
}

